*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$size: 32px;
$color: rgba(188, 34, 34, 0.552);

%header-style{
    color: gray;
    font-size: 25px;
    width: 200px;
    height: auto;
    font-weight: 700;
}
// .header{
//     @extend %header-style;
//     background: $color;
//     &-block{
//         width: 100px;
//         height: 100px;
//         background-color: green;
        
//     }
//     &-item{
//         p{

//         }
//         h3{
            
//         }
//         input{
            
//         }
//     }
// }

.header{
    width: 100%;
    height: 100vh;
    background: purple;
    &-logo{
        width: 200px;
        height: 200px;
        background: green;
    }
    &-links{
        width: 500px;
        height: auto;
        background: red;
        &-input{
            background: yellow;
            border: none;
            outline: none;
        }
    }
}
.header-logo{
    h3{
        font-size: 32px;
        color: blue;
    }
}